#index-section{
    overflow: hidden;
    position: relative;
    margin-top: -150px;
}

#index-section img {
    overflow: hidden;
    position: relative;
    margin-top: -175px;
    margin-bottom: -150px;
    min-height: 1300px;
    width: 100%;
    opacity: .4;
}

nav {
    position: relative;
    z-index: 99999;
}

#homepage-text {
    position: absolute;
    top: 500px;
    left: 100px;
    /* margin-top: -700px; */
}

h1 {
    font-size: 80px;
    /* color: var(--nav_text); */
    color: var(--nav_footer);
    position: relative;
    z-index: 99999;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    /* color: var(--nav_text); */
    color: var(--nav_footer);
    position: relative;
    z-index: 99999;
    margin-bottom: 20px;
}