section {
    width: 100%;
    background-color: var(--orange_background);
    min-height: 980px;
    margin-top: -150px;
}

#warning {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

#menu-link-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#menu-container {
    margin-top: 20px;
}

.menu {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.menu_items {
    width: 400px;
    margin: 20px;
    padding: 10px;
    background: rgba( 245, 166, 35, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.menu-button {
    font-size: 16px;
    margin: 10px;
}

.menu-button:hover {
    cursor: pointer;
    font-size: 17px;
}

.item_header {
    font-weight: bold;
}

/* CSS LOGIC NEEDED BELOW */
#lunch_menu {
    display: none;
}

#starter_menu {
    display: none;
}

#traditional_menu {
    display: none;
}

#soup_menu {
    display: none;
}

#pho_menu {
    display: none;
}

#curry_menu {
    display: none;
}

#main_menu {
    display: none;
}

#noodle_menu {
    display: none;
}

#veg_menu {
    display: none;
}

#side_menu {
    display: none;
}

#hot_menu {
    display: none;
}

#cold_menu {
    display: none;
}
/* CSS LOGIC NEEDED ABOVE */

@media only screen and (max-width: 720px) {
    section {
        min-height: 600px;
        margin-top: -320px;
        width: 100%;
    }

    #warning {
        margin-top: 350px;
        max-width: 350px;
        margin-left: 20px;
    }
}