{% extends "base_template.html" %}
    {% block head %}
    {% block title %}Champa Kitchen{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="static/css/gallery.css">
    {% endblock %}
    {% endblock %}
    {% block body %}
    <section>
        <div class="column">
            <div class="row">
                <img src="../static/pictures/food/CrispyChickenWithNoodle.jpg" alt="CrispyChicken">
                <img src="../static/pictures/food/HomePage.jpg" alt="">
                <img src="../static/pictures/food/food10.jpg" alt="">
                <img src="../static/pictures/food/food6.jpg" alt="">
            </div>
            <div class="row">
                <img src="../static/pictures/food/food14.jpg" alt="">
                <img src="../static/pictures/food/food9.jpg" alt="">
                <img src="../static/pictures/food/food7.jpg" alt="">
                <img src="../static/pictures/food/food5.jpg" alt="">
            </div>
            <div class="row">
                <img src="../static/pictures/food/food3.jpg" alt="">
                <img src="../static/pictures/food/food13.jpg" alt="">
                <img src="../static/pictures/food/food2.jpg" alt="">
                <img src="../static/pictures/food/food15.jpg" alt="">
            </div>
            <div class="row">
                <img src="../static/pictures/food/food4.jpg" alt="">
                <img src="../static/pictures/food/StoreFront.jpg" alt="">
            </div>
        </div>
    </section>
    {% endblock %}