{% extends "base_template.html" %}
    {% block head %}
    {% block title %}Champa Kitchen{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="static/css/index.css">
    {% endblock %}
    {% endblock %}
    {% block body %}
    <section id="index-section">
        <img src="../static/pictures/food/HomePage.jpg" alt="Food-Home-Page">
        <div id="homepage-text">
            <h1>Welcome To Champa Kitchen!</h1>
            <h2>Waterloo's Brand New Authentic Thai - Lao - Vietnamese Cuisine.</h2>
        </div>
    </section>
    {% endblock %}