{% extends "base_template.html" %}
    {% block head %}
    {% block title %}Champa Kitchen{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="static/css/menu.css">
    {% endblock %}
    {% endblock %}
    {% block body %}
    <section>
        <div id="warning">
            <h1>Please inform servers of any food allergies.</h1>
            <h1>Prices do not include applicable taxes and are subject to change without notice.</h1>
        </div>
        <div id="menu-link-container">
            <h1 class="menu-button" onclick="lunch()" id="lunch_button">Lunch</h1>
            <h1 class="menu-button" onclick="starter()" id="starter_button">Starter</h1>
            <h1 class="menu-button" onclick="traditional()" id="traditional_button">Traditional</h1>
            <h1 class="menu-button" onclick="soup()" id="soup_button">Soups & Salads</h1>
            <h1 class="menu-button" onclick="pho()" id="pho_button">Pho Noodles</h1>
            <h1 class="menu-button" onclick="curry()" id="curry_button">Curry Dishes</h1>
            <h1 class="menu-button" onclick="main()" id="main_button">Main Course</h1>
            <h1 class="menu-button" onclick="noodle()" id="noodle_button">Noodle Lover</h1>
            <h1 class="menu-button" onclick="veg()" id="veg_button">Vegetarian</h1>
            <h1 class="menu-button" onclick="side()" id="side_button">Side Dishes</h1>
            <h1 class="menu-button" onclick="hot()" id="hot_button">Hot Drinks</h1>
            <h1 class="menu-button" onclick="cold()" id="cold_button">Cold Drinks</h1>
        </div>
        <div id="menu-container">
            <div id="lunch_menu" class="menu">
                {% for item in l_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["sauces"]: %}
                    <p><span class="item_header">Sauces:</span> {{ item["sauces"] }}</p>
                    {% else %}
                    {% endif %}
                    {% if item["meat"]: %}
                    <p><span class="item_header">Meat:</span> {{ item["meat"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="starter_menu" class="menu">
                {% for item in s_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["quantity"]: %}
                    <p><span class="item_header">Quantity:</span> {{ item["quantity"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="traditional_menu" class="menu">
                {% for item in t_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["side"]: %}
                        <p><span class="item_header">Side:</span> {{ item["side"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="soup_menu" class="menu">
                {% for item in ss_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["side"]: %}
                        <p><span class="item_header">Side:</span> {{ item["side"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="pho_menu" class="menu">
                {% for item in pho_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["side"]: %}
                        <p><span class="item_header">Side:</span> {{ item["side"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
            {% endfor %}
            </div>
            <div id="curry_menu" class="menu">
                {% for item in c_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["meat"]: %}
                        <p><span class="item_header">Meat:</span> {{ item["meat"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="main_menu" class="menu">
                {% for item in m_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["meat"]: %}
                        <p><span class="item_header">Meat:</span> {{ item["meat"] }}</p>
                    {% else %}
                    {% endif %}
                    {% if item["sauces"]: %}
                        <p><span class="item_header">Sauces:</span> {{ item["sauces"] }}</p>
                    {% else %}
                    {% endif %}
                    {% if item["quantity"]: %}
                        <p><span class="item_header">Quantity:</span> {{ item["quantity"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="noodle_menu" class="menu">
                {% for item in n_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["side"]: %}
                        <p><span class="item_header">Side:</span> {{ item["side"] }}</p>
                    {% else %}
                    {% endif %}
                    {% if item["meat"]: %}
                        <p><span class="item_header">Meat:</span> {{ item["meat"] }}</p>
                    {% else %}
                    {% endif %}
                    {% if item["quantity"]: %}
                        <p><span class="item_header">Quantity:</span> {{ item["quantity"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="veg_menu" class="menu">
                {% for item in v_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item_id"] }}. {{ item["item"] }}</span></h3>
                    {% if item["quantity"]: %}
                        <p><span class="item_header">Quantity:</span> {{ item["quantity"] }}</p>
                    {% else %}
                    {% endif %}
                    <p><span class="item_header">Ingredients:</span> {{ item["ingredients"] }}</p>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="side_menu" class="menu">
                {% for item in si_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item"] }}</span></h3>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="hot_menu" class="menu">
                {% for item in h_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item"] }}</span></h3>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="cold_menu" class="menu">
                {% for item in co_items %}
                <div class="menu_items">
                    <h3><span class="item_header">{{ item["item"] }}</span></h3>
                    <p><span class="item_header">Price:</span> ${{ item["price"] }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock %}
    {% block scripts %}
    <script src="static/javascript/menu.js"></script>
    {% endblock %}